@font-face { font-family: Dinot; src: url('Dinot-Light.otf'); } 
@font-face { font-family: Dinot; font-weight: bold; src: url('Dinot-Bold.otf');}

body, h1, h2, h3, h4, h5 {
    font-family: Dinot, sans-serif;
}

.container {
    min-width: 320px;
    max-width: 640px;
    padding-bottom: 25px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 146px;
}

#headline-savings {
    font-size: larger;
}

#headline-savings span {
    font-weight: bold;
}

#results {
    display: none;
}

.modal-content table {
    margin-left: 10px;
    margin-right: 10px;
}

#simple-settings {
    min-width: 250px;
}