@font-face { font-family: Dinot; src: url('Dinot-Light.otf'); } 
@font-face { font-family: Dinot; font-weight: bold; src: url('Dinot-Bold.otf');}

body, h1, h2, h3, h4, h5 {
    font-family: Dinot, sans-serif;
}

.container {
    max-width: 500px;
    min-width: 350px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 146px;
}

#results {
    display: none;
}

.modal-content table {
    margin-left: 10px;
    margin-right: 10px;
}