@font-face { font-family: Dinot; src: url('Dinot-Light.otf'); } 
@font-face { font-family: Dinot; font-weight: bold; src: url('Dinot-Bold.otf');}

body, h1, h2, h3, h4, h5 {
    font-family: Dinot, sans-serif;
}

.container {
    max-width: 480px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 146px;
}

#headline-savings {
    font-size: larger;
}

#headline-savings span {
    font-weight: bold;
}

#results {
    display: none;
}

.modal-content table {
    margin-left: 10px;
    margin-right: 10px;
}

#simple-settings {
    min-width: 250px;
}

.infoImage {
    margin-bottom: 2px;
    margin-left: 5px;
    height: 16px;
    width: 16px;
    cursor: pointer;
}

#info-video {
    margin-top: 25px;
}

.short-text {
        display: none;
    }

    .long-text {
        display: initial;
    }

@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
    .container {
        width: 315px;
        padding-top: 5px;
        word-wrap:break-word;
    }

    .short-text {
        display: initial;
    }

    .long-text {
        display: none;
    }
    #info-video {
        width: 285px;
        height: 228px;
    }
}